.demo-table {
  width: 65vw;
  text-align: center;
}

.mat-header-cell {
  text-align: center;
}

.mat-row .mat-cell {
  cursor: pointer;
}

.mat-row:hover .mat-cell {
  border-bottom: 2px solid;
  border-top: 2px solid;
  border-color: rgb(49, 49, 49);
}

.demo-row-is-clicked {
  border: 2px solid;
  border-color: #3f51b560;
  font-weight: bold;
}

.mat-form-field {
  width: 100%;
}

.header-icon {
  background-color: green;
  border-radius: 50px;
  color: white;
  cursor: pointer;
}

.delete-icon:hover{
  background-color: red;
  border-radius: 50px;
  color: white;
}
/* primary = #0275d8  */
.edit-icon:hover{
  background-color: #0275d8;
  border-radius: 50px;
  color: white;
}