.sidebar {
    width: 280px;
    height: 100vh;
}

main {
    height: 100vh;
    height: -webkit-fill-available;
    max-height: 100vh;
    overflow-x: auto;
    overflow-y: hidden;
}

.mat-icon {
    vertical-align: middle;
}

.text-dark {
    color: #000;
}