<div [ngClass]="sidebar">
    <ul class="nav nav-pills flex-column mb-auto">
        <li class="nav-item">
            <a class="nav-link link-dark" routerLink="/dash" routerLinkActive="nav-link active" ariaCurrentWhenActive="page">
                <mat-icon>dashboard</mat-icon>
                Dashboard
            </a>
        <li>
            <a href="#" class="nav-link link-dark">
                <mat-icon> apartment</mat-icon>
                Centros e laboratórios
            </a>
        </li>
        <li>
            <a href="#" class="nav-link link-dark">
                <mat-icon> local_hospital</mat-icon>
                Medicamentos
            </a>
        </li>
        <li>
            <a href="#" class="nav-link link-dark">
                <mat-icon> add_circle</mat-icon>
                Cadastrar novo produto
            </a>
        </li>
    </ul>
    <hr>
</div>