<div [ngClass]="sidebar">
    <ul class="nav nav-pills flex-column mb-auto">
        <li class="nav-item">
            <a class="nav-link text-dark" routerLink="/dash" routerLinkActive="active text-white" ariaCurrentWhenActive="page">
                <mat-icon>dashboard</mat-icon>
                Dashboard
            </a>
        <li>
            <a class="nav-link text-dark" routerLink="/labs" routerLinkActive="active text-white" ariaCurrentWhenActive="page">
                <mat-icon> apartment</mat-icon>
                Centros e laboratórios
            </a>
        </li>
        <li>
            <a class="nav-link text-dark" routerLink="/medicamentos" routerLinkActive="active text-white" ariaCurrentWhenActive="page">
                <mat-icon> local_hospital</mat-icon>
                Medicamentos
            </a>
        </li>
        <li>
            <a class="nav-link text-dark" routerLink="/cadastrar" routerLinkActive="active text-white" ariaCurrentWhenActive="page">
                <mat-icon> add_circle</mat-icon>
                Tela de cadastro
            </a>
        </li>
    </ul>
    <hr>
</div>